{{template "base" .}}
{{define "content"}}
{{with $user := .User}}

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Viewing Skillboard of {{$user.Character.Name}}</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://images.evetech.net/characters/{{$user.Character.ID}}/portrait?size=256" class="rounded mx-auto d-block" />
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Basic Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Corporation</td>
                                    <td class="text-end">{{$user.Character.Corporation.Name}}</td>
                                </tr>
                                {{if $user.Character.Corporation.Alliance}}
                                <tr>
                                    <td>Alliance</td>
                                    <td class="text-end">{{$user.Character.Corporation.Alliance.Name}}</td>
                                </tr>
                                {{end}}
                                <tr>
                                    <td>Date Of Birth</td>
                                    <td class="text-end">{{$user.Character.Birthday | fmtDate}}</td>
                                </tr>
                                <tr>
                                    <td>Security Status</td>
                                    <td class="text-end">{{nullFloat64 $user.Character.SecurityStatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Basic Skill Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Unallocated Skillpoints</td>
                                    <td class="text-end">{{$user.Skills.Meta.UnallocatedSP | nullUint|uintToInt64 | comma}}</td>
                                </tr>
                                <tr>
                                    <td>Allocated Skillpoints</td>
                                    <td class="text-end">{{$user.Skills.Meta.TotalSP|uintToInt64|comma}}</td>
                                </tr>
                                <tr>
                                    <td>Total Skillpoints</td>
                                    <td class="text-end">{{$user.Skills.Meta.TotalSP|uintToInt64|comma}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Attributes Overview</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{if $user.Attributes.BonusRemaps.Valid}}
                                <tr>
                                    <td>Available Remaps</td>
                                    <td class="text-end">{{$user.Attributes.BonusRemaps.Uint}}</td>
                                </tr>
                                {{end}}
                                <tr>
                                    <td>Charisma</td>
                                    <td class="text-end">{{$user.Attributes.Charisma}}</td>
                                </tr>
                                <tr>
                                    <td>Intelligence</td>
                                    <td class="text-end">{{$user.Attributes.Intelligence}}</td>
                                </tr>
                                <tr>
                                    <td>Memory</td>
                                    <td class="text-end">{{$user.Attributes.Memory}}</td>
                                </tr>
                                <tr>
                                    <td>Perception</td>
                                    <td class="text-end">{{$user.Attributes.Perception}}</td>
                                </tr>
                                <tr>
                                    <td>Willpower</td>
                                    <td class="text-end">{{$user.Attributes.Willpower}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Skill Queue Overview</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Number of Skills Queued</td>
                                    <td class="text-end">{{len $user.Queue}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{end}}
{{end}}