{{template "base" .}}
{{define "content"}}


<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Viewing Skillboard of {{.Character.Name}}</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="https://images.evetech.net/characters/{{.Character.ID}}/portrait?size=256" class="rounded mx-auto d-block" />
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Basic Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Corporation</td>
                                    <td class="text-end">{{.Character.Corporation.Name}}</td>
                                </tr>
                                {{if .Character.Corporation.Alliance}}
                                <tr>
                                    <td>Alliance</td>
                                    <td class="text-end">{{.Character.Corporation.Alliance.Name}}</td>
                                </tr>
                                {{end}}
                                <tr>
                                    <td>Date Of Birth</td>
                                    <td class="text-end">{{.Character.Birthday | fmtDate}}</td>
                                </tr>
                                <tr>
                                    <td>Security Status</td>
                                    <td class="text-end">{{nullFloat64 .Character.SecurityStatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Basic Skill Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Unallocated Skillpoints</td>
                                    <td class="text-end">{{.SkillMeta.UnallocatedSP | nullUint|uintToInt64 | comma}}</td>
                                </tr>
                                <tr>
                                    <td>Allocated Skillpoints</td>
                                    <td class="text-end">{{.SkillMeta.TotalSP|uintToInt64|comma}}</td>
                                </tr>
                                <tr>
                                    <td>Total Skillpoints</td>
                                    <td class="text-end">{{.SkillMeta.TotalSP|uintToInt64|comma}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Attributes Overview</th>
                                </tr>
                            </thead>
                            <tbody>

                                {{if .Attributes.BonusRemaps.Valid}}
                                <tr>
                                    <td>Available Remaps</td>
                                    <td class="text-end">{{.Attributes.BonusRemaps.Uint}}</td>
                                </tr>
                                {{end}}
                                <tr>
                                    <td>Charisma</td>
                                    <td class="text-end">{{.Attributes.Charisma}}</td>
                                </tr>
                                <tr>
                                    <td>Intelligence</td>
                                    <td class="text-end">{{.Attributes.Intelligence}}</td>
                                </tr>
                                <tr>
                                    <td>Memory</td>
                                    <td class="text-end">{{.Attributes.Memory}}</td>
                                </tr>
                                <tr>
                                    <td>Perception</td>
                                    <td class="text-end">{{.Attributes.Perception}}</td>
                                </tr>
                                <tr>
                                    <td>Willpower</td>
                                    <td class="text-end">{{.Attributes.Willpower}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th colspan="2" class="text-center">Skill Queue Overview</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Number of Skills Queued</td>
                                    <td class="text-end">{{len .Queue}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h3>Filters</h3>
                <hr />
            </div>
            <div class="col-9">
                <h3>Skills</h3>
                <hr />
                {{range .Skills}}
                <div class="card">
                    <div class="card-header">
                        {{.Info.Name}} ({{len .Skills}} Skills Totaling {{.TotalGroupSP}} SkillPoints)
                    </div>
                    <ul class="list-group list-group-flush">
                        {{range .Skills}}
                        <li class="list-group-item">
                            <span class="text-start">
                                {{.Info.Name}} {{.ActiveSkillLevel}}
                            </span>
                            <span class="text-end">
                                {{.SkillpointsInSkill}}
                            </span>
                        </li>
                        {{end}}
                    </ul>
                </div>
                {{end}}

            </div>
        </div>
    </div>
</main>
{{end}}