<div class="container mt-2">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 text-center">Welcome to Skillboard.Evie</h5>
                </div>
                <div class="card-body">
                    To to continue logging in, please continue to CCP's SSO using the Login button below. Prior to leaving, please review the scope that we've listed below. These are the scopes that
                    we
                    will be requesting permission to use on your behalf. They will grant us access to the necessary data that we need to properly render a skillboard for the character you log in with.
                    <div class="text-center mt-2">
                        <a href="<%= authorizationURL %>">
                            <img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>