<!-- HTML Meta Tags -->
<title><%= title %></title>
<meta name="description" content="Green Leaner currently has 309,219,988 Skillpoint and has 14 queued skills">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Green Leaners Skillboard || Eve Is ESI || A Third Party Eve Online App">
<meta itemprop="description" content="Green Leaner currently has 309,219,988 Skillpoint and has 14 queued skills">
<meta itemprop="image" content="https://images.evetech.net/characters/425926703/portrait?size=256">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://skillboard.eveisesi.space/users/8be7677b-32a9-4340-a90d-902c18a09e24">
<meta property="og:type" content="website">
<meta property="og:title" content="Green Leaners Skillboard || Eve Is ESI || A Third Party Eve Online App">
<meta property="og:description" content="Green Leaner currently has 309,219,988 Skillpoint and has 14 queued skills">
<meta property="og:image" content="https://images.evetech.net/characters/425926703/portrait?size=256">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Green Leaners Skillboard || Eve Is ESI || A Third Party Eve Online App">
<meta name="twitter:description" content="Green Leaner currently has 309,219,988 Skillpoint and has 14 queued skills">
<meta name="twitter:image" content="https://images.evetech.net/characters/425926703/portrait?size=256">