<% let user = authenticatedUser %>
<div class="container">
    <doiv class="row">
        <div class="col-lg-6 offset-3">
            <div class="card my-3">
                <div class="card-header">
                    <h5 class="text-center">User Settings</h5>
                </div>
                <form action="/users/settings" method="post">
                    <input type="hidden" name="_method" value="PUT" />
                    <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
                    <div class="list-group">
                        <div class="list-group-item text-white fs-5">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Visibility
                                </div>
                                <div class="w-25">
                                    <select class="form-select" name="visibility">
                                        <%= for (value) in visibilities { %>
                                        <%
                                            let selected = ""
                                            if (user.Settings.Visibility.String() == value.String()) {
                                                selected = "selected"
                                            }
                                        %>
                                        <option value="<%= value.Uint() %>" <%= selected %>><%=value.String()%></option>
                                        <% } %>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <%= if (user.Settings.Visibility.String() == "Token") { %>
                        <div class="list-group-item text-white fs-5">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Tokenize URL
                                </div>
                                <div>
                                    <a class="btn btn-primary" href="<%= userPath({userID: user.ID, token: user.Settings.VisibilityToken}) %>">View My Tokenized Page</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <div class="list-group-item text-white fs-5">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Hide Skills
                                </div>
                                <div>
                                    <div class="form-check form-switch">

                                        <input class="form-check-input" type="checkbox" name="hide_skills" role="switch" <%= checked(user.Settings.HideSkills) %>>
                                    </div>
                                </div>
                            </div>
                            <div class="text-muted"><small>This does not include Skill Meta (i.e. Skill points) Those will continue to be displayed</small></div>
                        </div>
                        <div class="list-group-item text-white fs-5">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Hide Skill Queue
                                </div>
                                <div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="hide_queue" role="switch" <%= checked(user.Settings.HideQueue) %>>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item text-white fs-5">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Hide Attributes
                                </div>
                                <div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="hide_attributes" role="switch" <%= checked(user.Settings.HideAttributes) %>>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item text-white fs-5">
                            <div class="d-flex justify-content-between">
                                <div>
                                    Hide Flyable
                                </div>
                                <div>
                                    <div class=" form-check form-switch d-flex flex-row align-items-end">
                                        <input class="form-check-input" type="checkbox" name="hide_flyable" role="switch" <%= checked(user.Settings.HideFlyable) %>>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item text-white fs-5">
                            <button type="submit" class="btn btn-primary btn-block">
                                Update Settings
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
</div>
</doiv>
</div>